# My jupyter notebook on IBM Watson studio

__Aravinth Meganathan__

I am currently run\ning my own business as a small pet shop.

_I am interested in Data science because in my last job as a production engineer in a manufacturing unit where I use the collected data in the production line to find out some interesting details which will be very useful for the production increment. From there I  got inspired about the data.Now, emerging technologies such as AI empower me.I really enjoy  working with problem analysis and very keen to get a solution._

### Power 
Given:

    b = base variable

    p = power variable

Using power variable value we are going to power the base value.

We have to use ** for this operation.

Formula:

    result = (b**p)

In [2]:
b = 10 
p = 4 
result = (b**p)
result

10000

Horizontal line:
 ***

Bulleted list:

-   
-  
-  

Numbered list:

 1. 

 2. 

 3.